
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "monteserrat" , sans-serif;
}
body{
  color: #263138;

}
header {
  background-color:#ff9a6c ;
  display: flex;
  align-items: center;
  justify-content:space-between ;
 padding: 24px 80px 24px 80px;
}
header nav a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  padding: 9px;
  border: solid #ffffff 3px;
  border-radius: 8px;
  margin: 1px;
}
#inicio{
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 24px 80px 128px 80px;
  position: relative;
  
}
h1,h2{
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
}
.paragrafo{
  line-height: 150%;
  margin-bottom: 32px;
}
.shape{
  position: absolute;
  bottom: 0%;
  left:0%;
  width: 100%;
  z-index: -2;
}
.botao1{
  text-decoration: none;
  background-color: #ff9a6c;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 8px;
}
.botao2{
  text-underline-offset: 4px;
  background-color: transparent;
  color: #ff9a6c;
  padding: 16px 32px;
}
#clinica{
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}
#clinica li{
  margin-bottom: 16px;
  margin-left: 32px;
}
.classe{
  text-align: center;
  margin-top: 15px;
}
#farmacia{
  text-align:center;
  padding: 15px 80px;
}
#farmacia img{
  margin: 64px auto;

}
#farmacia .paragrafo{
  width: 950px;
  margin: 0 auto;
}
#duvidas{
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}
.duvida{
  position: relative;
}
.duvida h3{
  border: 2px solid #ff725e;
  border-radius: 8px;
  cursor: pointer;
  padding: 23px;
}
.duvida p{
  margin-bottom: 20px;
  border-right: 1px solid #ff725e;
  border-bottom: 1px solid #ff725e;
  border-left: 1px solid #ff725e;
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 24px;
}
.duvida img{
  position: absolute;
  top: 32px;
  right: 24px;
}
#duvidas h2{
  margin-left: 200px;
}
footer{
  background-color: rgba(255, 152, 108, 0.25);
  display: flex;
  padding: 64px 80px;
  gap: 80px;
  position: relative;
  
}

.wpp{
 position: absolute;
 right: 0%;
 top: 0%;
 margin: 20px;
 padding: 30px;
 margin-top: 35px;
}
footer .titulo{
  display: block;
  font-weight: 600;
  margin-bottom: 25px;
}
footer nav a{
  color: #263138;
  display: block;
  margin-bottom: 16px;
  text-underline-offset: 4px;
  max-width: 350px;
  

}
footer img{
  margin-bottom: 20px;
}
footer p a{ 
  color: #263138;
  text-underline-offset: 4px;

}
footer p{
  margin-bottom: 16px;
}
#copy{
  background-color: black;
  color: #ff725e;
  text-align: center;
  text-decoration: none;
}
#copy a{
  color: #ffffff;
  text-decoration: none;
}